body{
    font-family:"Microsoft YaHei",Tahoma,Helvetica;
    transition-duration: .4s;

}
@font-face {
    font-family: MiFie-Web-Font;
    src:url(../lib/fonts/MiFie-Web-Font.ttf) format('truetype');
}

[class^=icon-]{
    font-family: MiFie-Web-Font;
}


/*********************header部分样式开始*********************/
.dv-header{
    border-bottom: 1px solid #c6cbcf;
}

.dv-header .header-block{
    border-right:  1px solid #c6cbcf;
    line-height: 40px;
    color: #8d8d8d;
    font-size: 13px;
}

.dv-header .header-block a{
    color: #8d8d8d;
}

.dv-header .header-block a:hover{
    text-decoration: none;
}

.icon-mobilephone:before{
    content: "\e908";
}

.icon-down-arrow{
    position: relative;
    display: block;
}

.icon-down-arrow:before{
    content: "\e90c";
    transform: rotate(90deg);
    position: absolute;
    top: -38px;
    left: 123px;
}

.icon-telephone:before{
    content: "\e909";
}

.header-block.hb-1:hover .header-wx{
    display: block;
}

.header-wx{
    display: none;
    position: absolute;
    left: 32px;
    z-index: 100;
}

.header-block.hb-4 .btn{
    padding: 2px 12px 2px 12px;
    background-color: #e61e25;
    color: #f5dbff;
    border: none;
    margin-right: 10px;
}

.header-block.hb-4{
    font-size: 14px;
    border-right: none;
    white-space: nowrap;
}

/*********************header部分样式结束*********************/


/*********************nav部分样式开始*********************/
.dv-nav nav.container.navbar.navbar-default {
    background-color: #FFFFFF;
    border: none;
}


.icon-logo::before{
    content: "\e920";
    color: #e9232c;
    font-size: 42px;
    margin-right: 4px;
}

.icon-logo::after{
    content: "\e93e";
    color: #434243;
    font-size: 31px;
}

.dv-nav ul.nav.navbar-nav {
    margin-left: 45px;
}

.dv-nav ul.nav.navbar-nav>li:last-child{
    margin-left: 40px;
}

.dv-nav ul.nav.navbar-nav>li>a:hover{
    border-bottom: 1px solid #e9232c;
    padding-bottom: 9px;
}

.dv-nav ul.nav.navbar-nav>li>a{
    padding:10px 15px 10px 15px ;
}

.dv-nav ul.nav.navbar-nav>li.active>a{
    background-color: #fff;
}

/*********************nav部分样式结束*********************/

/*********************移动版nav部分样式开始*********************/
#btn_menu::before{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../img/menu.jpg);
    display: inline-flex;
    background-size: contain;
}

#btn_menu::after{
    content: "导航";
}

.menu-info{
    left: -240px;
    width: 240px;
    bottom: 0;
    background-image: url("../img/nav-mobi-bg.jpg");
}

.mobile-nav-show{
    transform: translateX(240px);
    transition-duration: .4s;
}
/*********************移动版nav部分样式结束*********************/

/*********************banner部分样式开始*********************/

.dv-banner{
    cursor: pointer;
}

.dv-banner:hover .carousel-control{
    display: block;
}

.dv-banner .carousel-control{
    display: none;
}

.dv-banner .slide-left,.dv-banner .slide-right{
    position: relative;
}

.dv-banner .slide-left::before{
    content: url(../img/left-arrow.png);
    position: absolute;
    top: 112px;
}

.dv-banner .slide-right::before{
    content: url(../img/right-arrow.png);
    position: absolute;
    top: 112px;
}



#myCarousel .carousel-inner .item img {
    height: 100%;
}

/*********************banner部分样式结束*********************/

/*********************featrue部分样式开始*********************/
.dv-feature{
    margin-top: 10px;
}

.icon-E907::before{
    content: "\e907";
}
.icon-E903::before{
    content: "\e903";
}
.icon-E901::before{
    content: "\e901";
}
.icon-E900::before{
    content: "\e900";
}
.icon-E904::before{
    content: "\e904";
}
.icon-E902::before{
    content: "\e902";
}

.dv-feature a.feature-item {
    position: relative;
    display: block;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dv-feature a.feature-item:hover {
    text-decoration: none;
    color: #e61e25;
}


.feature-item span[class^=icon-] {
    position: absolute;
    top: 10px;
    left: -10px;
    font-size: 21px;
}

.feature-item dt {
    font-weight: normal;
    font-size: 16px;
}
/*********************featrue部分样式结束*********************/


/*********************投资列表部分样式开始*********************/

.dv-loan{
    padding-top: 40px;
    border-top: 1px solid #c6cbcf;
    background-color: #f0f0f0;
    padding-bottom: 40px;
}

.nav.nav-tabs li.active {
    border-bottom: 2px solid #f00;
}

.loan-nav .nav.nav-tabs>li.active>a,.loan-nav .nav.nav-tabs>li>a:hover {
    color: #2c3e50;
    background-color: #f0f0f0;
    border:none;
    padding: 11px 16px 10px 16px;
}

.loan-nav .nav.nav-tabs>li>a{
    color: #2c3e50;
}

.dv-loan .loan-list{
    margin-top: 15px;
}

.loan-list .loan-item{
    height: 135px;
    background-color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
    box-shadow: 2px 2px 2px #dadada;
}

.loan-list .tab-pane.fade.active.in>p{
    background-color: #fff;
    line-height: 40px;
    padding-left: 14px;
    border-radius: 2px;
}

.loan-list .loan-item.loan-item-completed{
    background-image: url(../img/loan-status-5.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 50%;
    background-color: #e6e6e6;: ;
}

.loan-list .loan-item .loan-content{
    height: 100%;
    overflow:hidden ;
}

.loan-list .loan-item .loan-rate{
    height: 100%;
    width: 96px;
    border-left: 1px dashed #d5d5d5;
    position: relative;
}

.loan-list .loan-item .loan-rate:before{
    content: "";
    width: 12px;
    height: 12px;
    background-color: #f0f0f0;
    display: inline-block;
    position: absolute;
    top: -6px;
    left: -6px;
    border-radius: 6px;
}

.loan-list .loan-item .loan-rate:after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: #f0f0f0;
    display: inline-block;
    position: absolute;
    bottom: -6px;
    left: -6px;
    border-radius: 6px;
}

.loan-content>h4{
    font-size: 16px;
    margin-left: 20px;
}

.loan-content>dl>dt{
    font-weight: normal;
    color: #a2a8b3;
}

.loan-content dl>dd{
    color: #576a7f;
}

.loan-item .loan-rate{
    padding-top: 10px;
}

.loan-rate .loan-label{
    border: 1px solid #339999;
    padding: 0px 2px;
    font-size: 7px;
    margin-left: 3px;
    color: #339999;
    border-radius: 1px;
    margin-top: 20px;
    cursor: pointer;
 }

.loan-rate .loan-label.orange{
    border: 1px solid #f56854;
    color:#f56854;
}

.loan-rate dl>dt{
    color: #E61E25;
    font-size: 27px;
    font-weight: bold;
    margin-top: 15px;
}

.loan-rate dl>dd{
    color:#9ea7b5;
}

.loan-content .glyphicon-star.empty{
    color: #bdc3c7;
}

.loan-content dd.progress{
    height: 9px;
}

.loan-content div.progress-bar{
    background-color: #576a7f;
}
/*********************投资列表部分样式结束*********************/

/*********************网站新闻部分样式开始*********************/
.news-type>ul>li>a {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #d0d0d0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.news-type>ul>li>a:hover{
    background-color:#e61e25 ;
}

#news_type .nav.nav-tabs li.active>a {
    background-color: #e61e25;
    border: none;
}

#news_type .nav.nav-tabs li.active {
    border-bottom: none;
}

#news_type ul.nav.nav-tabs>li>a>span{
    position: relative;
}

.icon-news1::before {
    content: "\e90e";
    font-size: 28px;
    position: absolute;
    left: 12px;
    top: 6px;
    color: #e9e3ea;
}

.icon-news2::before {
    content: "\e90f";
    font-size: 28px;
    position: absolute;
    left: 12px;
    top: 6px;
    color: #e9e3ea;
}

.icon-news3::before {
    content: "\e900";
    font-size: 28px;
    position: absolute;
    left: 12px;
    top: 6px;
    color: #e9e3ea;
}

.icon-news4::before {
    content: "\e901";
    font-size: 28px;
    position: absolute;
    left: 12px;
    top: 6px;
    color: #e9e3ea;
}

div#news_title {
    font-size: 18px;
}

.col-md-2.news-split {
    position: relative;
}

.news-split-line {
    height: 300px;
    border-right: 1px dashed #d0d0d0;
    position: absolute;
    top: 30px;
    right: -42px;
}

div#news_title {
    margin-top: 20px;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 10px;
    position: relative;
}

#news_title::before{
    content: "";
    width: 8px;
    height: 8px;
    border: 1px solid #d0d0d0;
    display: inline-block;
    border-radius: 4px;
    position: absolute;
    bottom: -4px;
    right: -6px;
}

.news-content{
    margin-top: 50px;
}

.news-content>.tab-content .tab-pane ul>li>a {
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    color: #8f446c;
    text-decoration: none;
}

.news-content>.tab-content .tab-pane ul>li{
    list-style: none;
}

/*********************网站新闻部分样式结束*********************/


@media screen and (min-width: 1200px) {
    .dv-header>.container{
        width: 980px;
    }

    .dv-nav>.container,.dv-feature>.container{
        width: 980px;
    }
}


@media screen and (min-width: 992px) {
    .dv-news{
        padding-left: 50px;
    }

    #myCarousel .carousel-inner .item {
        height: 320px;
    }
}

@media screen and (max-width: 991px){
    .news-type>ul>li>a{
        margin-left: 24px;
    }
    .news-type>ul.nav.nav-tabs{
        border-bottom: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .dv-nav nav.container.navbar.navbar-default {
        padding-right: 0;
        padding-left: 0;
    }

    .dv-nav ul.nav.navbar-nav {
         margin-left: 0;
    }

    .dv-nav ul.nav.navbar-nav>li:last-child {
         margin-left: 0;
    }
}

@media screen and (max-width: 767px){
    /*在窄屏手机下，投资导航显示成两行，为了解决显示一行，将ul设置一个固定宽度，
        设置ul的你元素div.loan-nav的overflow为auto,ul的宽度会超出其你元素的宽度，
        这时会出现横向滚动条
    */
    .loan-nav{
        overflow-x:auto;
    }
    .loan-nav .nav.nav-tabs{
        width: 610px;
    }
}