body{
    font-family:"Microsoft YaHei",Tahoma,Helvetica;
}

a,a:hover{
    text-decoration: none;
}

ul{
    padding-left: 40px;
}

li{
    list-style: none;
}

/*******************************网站头部样式开始*******************************/

/*******************************网站头部样式结束*******************************/


/*******************************网站导航样式开始*******************************/

/*******************************网站导航样式结束*******************************/


/*******************************广告轮播样式开始*******************************/

/*******************************广告轮播样式结束*******************************/


/*******************************网站特色样式开始*******************************/

/*******************************网站特色样式结束*******************************/


/*******************************预约投标样式开始*******************************/

/*******************************预约投标样式结束*******************************/


/*******************************投资列表样式开始*******************************/

/*******************************投资列表样式结束*******************************/


/*******************************网站新闻样式开始*******************************/

/*******************************网站新闻样式结束*******************************/


/*******************************网站尾部样式开始*******************************/

/*******************************网站尾部样式结束*******************************/
