body {
    font-family: "Microsoft YaHei", Tahoma, Helvetica;
}

a, a:hover {
    text-decoration: none;
    color: #878787;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

@font-face {
    font-family: Itcast;
    src: url(../fonts/MiFie-Web-Font.ttf) format("truetype");
}

[class^=icon-], [class*=" icon-"] {
    font-family: Itcast;
    font-style: normal;
}

.orange {
    color: #E61E25;
}

/*******************************网站头部样式开始*******************************/
#header {
    border-bottom: 1px solid #C6CBCF;
}

#header > .container {
    height: 41px;
    line-height: 41px;
    color: #8D8D8D;
    font-size: 12px;
}

#header > .container > .row > div + div {
    border-left: 1px solid #C6CBCF;
}

#header > .container a {
    color: #8D8D8D;
    height: 100%;
    display: inline-block;
}

.icon-mobilephone::before {
    content: "\e908";
}

.icon-arrow-down::before {
    content: "\e90c";
    display: inline-block;
    transform: rotate(90deg);
}

.icon-telephone::before {
    content: "\e909";
}

.btn-itcast {
    color: #ffffff;
    background-color: #E61E25;
    border-color: #E61E25;
}

.btn-itcast:hover,
.btn-itcast:focus,
.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
    color: #ffffff;
    background-color: #FF1E25;
    border-color: #E61E25;
}

.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
    background-image: none;
}

.btn-itcast.disabled,
.btn-itcast[disabled],
fieldset[disabled] .btn-itcast,
.btn-itcast.disabled:hover,
.btn-itcast[disabled]:hover,
fieldset[disabled] .btn-itcast:hover,
.btn-itcast.disabled:focus,
.btn-itcast[disabled]:focus,
fieldset[disabled] .btn-itcast:focus,
.btn-itcast.disabled:active,
.btn-itcast[disabled]:active,
fieldset[disabled] .btn-itcast:active,
.btn-itcast.disabled.active,
.btn-itcast[disabled].active,
fieldset[disabled] .btn-itcast.active {
    background-color: #E61E25;
    border-color: #E61E25;
}

.btn-itcast .badge {
    color: #E61E25;
    background-color: #ffffff;
}

#header .hb-4 > .btn-itcast {
    color: #fff;
    padding: 3px 5px;
    margin-right: 10px;
}

#header .hb-1 a:hover #header-wx {
    display: block;
}

#header-wx {
    display: none;
    z-index: 1001;
    position: absolute;
}

/*******************************网站头部样式结束*******************************/

/*******************************网站导航样式开始*******************************/
.navbar-itcast {
    background-color: #fff;
    border-color: #fff;
}

.icon-logo, .icon-logo2 {
    line-height: 50px;
    vertical-align: middle;
}

.icon-logo {
    font-size: 50px;
    color: #E61E25;
}

.icon-logo::before {
    content: "\e920";
}

.icon-logo2 {
    font-size: 32px;
    color: #434243;
}

.icon-logo2::before {
    content: "\e93e";
}

#web_nav {
    margin-bottom: -1px;
}

#web_nav ul.navbar-nav > li {
    font-size: 18px;
}

#web_nav ul.navbar-nav > li:hover a {
    background-color: #fff;
    border-bottom: 2px solid #E61E25;
    color: #424242;
    padding-bottom: 13px;
}

.menu-top {
    height: 60px;
    background-color: #F8F8F8;
    padding: 18px;
}

#btn_menu::before {
    content: "";
    background: url(../img/menu.jpg) no-repeat;
    display: inline-block;
    width: 26px;
    height: 26px;
    background-size: cover;
}

#btn_menu::after {
    content: "导航";
    display: inline-block;
    position: absolute;
    height: 26px;
    font-size: 18px;
}

.menu-content {
    margin-top: 60px;
    background-image: url(../img/nav-mobi-bg.jpg);
    color: #C9C9C9;
    width: 240px;
    height: 505px;
    padding-top: 15px;
    display: none;
}

.menu-content a {
    color: #C9C9C9;
}

.menu-content ul + ul {
    border-top: 1px solid;
    padding-top: 20px;
}

.menu-content ul > li {
    margin-top: 10px;
}

.menu-content ul > li > a > img {
    margin-right: 5px;
    height: 19px;
}

/*******************************网站导航样式结束*******************************/

/*******************************广告轮播样式开始*******************************/
#web_banner .carousel-inner .item > a {
    width: 100%;
    display: inline-block;
}

#web_banner .carousel-control {
    display: none;
}

#web_banner .carousel-inner .item > img {
    width: 100%;
    height: auto;
}

/*******************************广告轮播样式结束*******************************/

/*******************************网站特色样式开始*******************************/
.icon-uniE907::before {
    content: "\e907";
}

#web_features {
    padding-bottom: 25px;
    border-bottom: 1px solid #C6CBCF;
}

#web_features .media-middle {
    font-size: 25px;
}

#web_features > .container > .media {
    display: block;
    margin-bottom: 20px;
    color: #333;
}

#web_features > .container > .media:hover {
    color: #E61E25;
}

#web_features > .container > .media:first-child {
    margin-top: 15px;
}

/*******************************网站特色样式结束*******************************/

/*******************************预约投标样式开始*******************************/
.icon-clock::before {
    content: "\e906";
    font-size: 25px;
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.icon-camera::before {
    content: "\e905";
    font-size: 25px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

#booking {
    padding-bottom: 20px;
    border-bottom: 1px solid #C6CBCF;
    padding-top: 15px;
}

.queick-order {
    border-bottom: 1px dashed #E61E25;
    margin-left: 10px;
    padding-bottom: 5px;
}

.trailer {
    display: inline-block;
}

.trailer:hover {
    color: #E61E25;
}

/*******************************预约投标样式结束*******************************/

/*******************************投资列表样式开始*******************************/
#invest_list {
    background-color: #F0F0F0;
}

.title-list {
    margin-top: 30px;
    overflow-x: auto;
}

#invest_list .nav-tabs > li > a {
    border: none;
}

#invest_list .nav-tabs > li.active > a {
    background-color: #f0f0f0;
    border-bottom: 3px solid #E61E25;
    padding-bottom: 7px;
}

.tab-content.loan-list {
    margin-top: 15px;
    margin-bottom: 30px;
}

.panel-itcast {
    display: block;
    background-color: #fff;
    height: 148px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #d8d8d8;
}

.panel-itcast > .panel-heading,
.panel-itcast > .panel-body {
    height: 100%;
}

.panel-itcast > .panel-heading {
    float: right;
    width: 108px;
    border-left: 1px dashed #D5D5D5;
    position: relative;
}

.panel-itcast > .panel-body {
    overflow: hidden;
    white-space: nowrap;
}

.panel-itcast > .panel-body sub,
.panel-itcast > .panel-heading sub {
    position: relative;
    bottom: 0;
    font-weight: normal;
}

.panel-itcast dl {
    margin-bottom: 10px;
}

.panel-itcast dl > dt {
    font-weight: normal;
}

.panel-itcast .panel-body dl > dt {
    font-size: 12px;
}

.panel-itcast .panel-body {
    padding: 15px 0;
}

.panel-itcast .panel-heading::before, .panel-itcast .panel-heading::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #F0F0F0;
    display: block;
    position: absolute;
    border-radius: 6px;
    left: -6px;
}

.panel-itcast .panel-heading::before {
    top: -5px;
}

.panel-itcast .panel-heading::after {
    bottom: -6px;
}

.panel-itcast .panel-body dl > dd {
    font-size: 16px;
}

.panel-itcast .panel-heading dl > dd {
    font-size: 14px;
}

.panel-itcast h4 {
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 16px;
    margin-left: 13px;
}

.panel-itcast > .panel-heading .tip {
    border: 1px solid;
    padding: 0 3px;
    margin-left: 2px;
    font-size: 13px;
    border-radius: 2px;
}

.panel-itcast > .panel-heading dt {
    font-size: 30px;
    font-weight: bold;
    color: #e61e25;
}

.panel-itcast > .panel-heading dl {

}

#invest_list .glyphicon.light {
    color: #BDC3C7;
}

#invest_list dd.progress {
    height: 10px;
}

.progress-bar-itcast {
    background-color: #878787;
}

.icon-zx::before {
    content: "\e917";
    position: absolute;
    font-size: 30px;
    top: -6px;
    color: #e61e25;
}

.compeleted {
    background-color: #E6E6E6;
    background-image: url(../img/loan-status-5.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px 100px;
}

/*******************************投资列表样式结束*******************************/

/*******************************网站新闻样式开始*******************************/
#news ul.nav-stacked > li > a {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background-color: #d0d0d0;
    margin-top: 40px;
    color: #fff;
}

#news ul.nav-stacked > li > a:hover {
    background-color: #e61e25;
}

#news ul.nav-stacked > li.active > a {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background-color: #e61e25;
}

.news-split{
    position: relative;
}

.news-split-line{
    position: absolute;
    border-left: 1px dashed #d0d0d0;
    height: 300px;
    top: 43px;
    right: -43px;
}

#news_title{
margin-top: 40px;
margin-right: 10px;
margin-left: 30px;padding-right: 10px;padding-left: 10px;padding-bottom: 10px;
border-bottom: 1px solid #8d8d8d;white-space: nowrap;}

#news_title::before{
    content: "";
    height: 8px;
    width: 8px;
    border: 1px solid;
    border-radius: 4px;
    display: block;
    position: absolute;
    bottom: 7px;
    right: 17px;
}

.icon-news1::before{
    content: "\e90e";
    position: absolute;
    top: 7px;
    right: 13px;
    font-size: 30px;
}

.news-content ul{
    margin-top: 50px;
}

.news-item{
    
font-size: 15px;
    
margin-bottom: 20px;
    
color: #333;
}

/*******************************网站新闻样式结束*******************************/

/*******************************网站尾部样式开始*******************************/
#footer{
border-top: 1px solid #808080;
    overflow: hidden;
}

#footer a,#footer dl>dd{
    float: left;
    margin-right: 10px;
}

.partner>.container{
    max-width: 910px;
    width: 100%;
}

.partner dl>dt{
    font-size: 25px;
    font-weight: normal;
}

.partner dl>dd{
    font-size: 50px;
}

.company-info{
border-top: 1px solid #8d8d8d;
padding-top: 15px;margin-bottom: 20px;}

.company-info a {
    margin-left: 10px;
    margin-right: 5px;
}

.web-info{
background-color: #222;
padding-top: 20px;
padding-bottom: 30px;
}

.web-info h5 {
    color: #fff;
}

.web-info .container,
.company-info .container{
    width: 1080px;
}

.firend-link{

}

.firend-link>a {
    font-size: 45px;
    padding-right: 20px;
}

.icon-partner1,.icon-partner2{
    color: #696969;
}

.icon-partner1:hover,.icon-partner2:hover{
    color: #DF3232;
}

.icon-partner1::before{
    content: "\e946";
    border-right: 1px dashed;
    padding-right: 10px;
    padding-left: 10px;
}

.icon-partner2::before{
    content: "\e92f";
    padding-right: 10px;
}

.icon-firend1::before{
    content: "\e93b";
}

.icon-firend1:hover{
    color: #004098;
    background-color: #fff;
    border-color:#004098;
}

/*******************************网站尾部样式结束*******************************/

@media screen and (min-width: 992px) {
    #web_nav ul.navbar-nav > li:last-child {
        margin-left: 50px;
    }
}

@media screen and (max-width: 991px) {
    #web_nav .nav > li > a {
        padding-left: 8px;
        padding-right: 0;
    }

    #news .nav-stacked>li{
        float: left;
        width: 25%;
    }
}

@media screen and (min-width: 768px) {
    #web_banner:hover .carousel-control {
        display: block;
    }

    #web_banner .carousel-inner .item {
        height: 350px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    #web_banner .carousel-inner .item > img {
        display: none;
    }

    #web_banner .glyphicon-chevron-left::before {
        content: url(../img/left-arrow.png);
    }

    #web_banner .glyphicon-chevron-right::before {
        content: url(../img/right-arrow.png);
    }
}