body {
    font-family: "Microsoft YaHei", Tahoma, Helvetica;
}

a, a:hover {
    text-decoration: none;
    color: #878787;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

@font-face {
    font-family: Itcast;
    src: url(../fonts/MiFie-Web-Font.ttf) format("truetype");
}

[class^=icon-], [class*=" icon-"] {
    font-family: Itcast;
    font-style: normal;
}

/*******************************网站头部样式开始*******************************/
#header {
    border-bottom: 1px solid #C6CBCF;
}

#header > .container {
    height: 41px;
    line-height: 41px;
    color: #8D8D8D;
    font-size: 12px;
}

#header > .container > .row > div + div {
    border-left: 1px solid #C6CBCF;
}

#header > .container a {
    color: #8D8D8D;
    height: 100%;
    display: inline-block;
}

.icon-mobilephone::before {
    content: "\e908";
}

.icon-arrow-down::before {
    content: "\e90c";
    display: inline-block;
    transform: rotate(90deg);
}

.icon-telephone::before {
    content: "\e909";
}

.btn-itcast {
    color: #ffffff;
    background-color: #E61E25;
    border-color: #E61E25;
}

.btn-itcast:hover,
.btn-itcast:focus,
.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
    color: #ffffff;
    background-color: #FF1E25;
    border-color: #E61E25;
}

.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
    background-image: none;
}

.btn-itcast.disabled,
.btn-itcast[disabled],
fieldset[disabled] .btn-itcast,
.btn-itcast.disabled:hover,
.btn-itcast[disabled]:hover,
fieldset[disabled] .btn-itcast:hover,
.btn-itcast.disabled:focus,
.btn-itcast[disabled]:focus,
fieldset[disabled] .btn-itcast:focus,
.btn-itcast.disabled:active,
.btn-itcast[disabled]:active,
fieldset[disabled] .btn-itcast:active,
.btn-itcast.disabled.active,
.btn-itcast[disabled].active,
fieldset[disabled] .btn-itcast.active {
    background-color: #E61E25;
    border-color: #E61E25;
}

.btn-itcast .badge {
    color: #E61E25;
    background-color: #ffffff;
}

#header .hb-4 > .btn-itcast {
    color: #fff;
    padding: 3px 5px;
    margin-right: 10px;
}

#header .hb-1 a:hover #header-wx {
    display: block;
}

#header-wx {
    display: none;
    z-index: 1001;
    position: absolute;
}

/*******************************网站头部样式结束*******************************/

/*******************************网站导航样式开始*******************************/
.navbar-itcast {
    background-color: #fff;
    border-color: #fff;
}

.icon-logo, .icon-logo2 {
    line-height: 50px;
    vertical-align: middle;
}

.icon-logo {
    font-size: 50px;
    color: #E61E25;
}

.icon-logo::before {
    content: "\e920";
}

.icon-logo2 {
    font-size: 32px;
    color: #434243;
}

.icon-logo2::before {
    content: "\e93e";
}

#web_nav{
    margin-bottom: -1px;
}

#web_nav ul.navbar-nav > li {
    font-size: 18px;
}

#web_nav ul.navbar-nav > li:hover a {
    background-color: #fff;
    border-bottom: 2px solid #E61E25;
    color: #424242;
    padding-bottom:13px;
}

.menu-top {
    height: 60px;
    background-color: #F8F8F8;
    padding: 18px;
}

#btn_menu::before {
    content: "";
    background: url(../img/menu.jpg) no-repeat;
    display: inline-block;
    width: 26px;
    height: 26px;
    background-size: cover;
}

#btn_menu::after {
    content: "导航";
    display: inline-block;
    position: absolute;
    height: 26px;
    font-size: 18px;
}

.menu-content {
    margin-top: 60px;
    background-image: url(../img/nav-mobi-bg.jpg);
    color: #C9C9C9;
    width: 240px;
    height: 505px;
    padding-top: 15px;
    display: none;
}

.menu-content a {
    color: #C9C9C9;
}

.menu-content ul + ul {
    border-top: 1px solid;
    padding-top: 20px;
}

.menu-content ul > li {
    margin-top: 10px;
}

.menu-content ul > li > a > img {
    margin-right: 5px;
    height: 19px;
}

/*******************************网站导航样式结束*******************************/

/*******************************广告轮播样式开始*******************************/
#web_banner .carousel-inner .item>a{
    width: 100%;
    display: inline-block;
}

#web_banner .carousel-control{
    display: none;
}

#web_banner .carousel-inner .item>img{
    width: 100%;
    height: auto;
}

/*******************************广告轮播样式结束*******************************/
.icon-uniE907::before{
    content: "\e907";
}

#web_features{
    padding-bottom: 25px;
    border-bottom: 1px solid #C6CBCF;
}

#web_features .media-middle{
    font-size: 25px;
}

#web_features>.container>.media{
    display: block;
    margin-bottom: 20px;
    color: #333;
}

#web_features>.container>.media:hover{
    color: #E61E25;
}

#web_features>.container>.media:first-child{
    margin-top: 15px;
}

/*******************************网站特色样式开始*******************************/

/*******************************网站特色样式结束*******************************/

/*******************************预约投标样式开始*******************************/

/*******************************预约投标样式结束*******************************/

/*******************************投资列表样式开始*******************************/

/*******************************投资列表样式结束*******************************/

/*******************************网站新闻样式开始*******************************/

/*******************************网站新闻样式结束*******************************/

/*******************************网站尾部样式开始*******************************/

/*******************************网站尾部样式结束*******************************/

@media screen and (min-width: 992px) {
    #web_nav ul.navbar-nav > li:last-child {
        margin-left: 50px;
    }
}

@media screen and (max-width: 991px) {
    #web_nav .nav > li > a {
        padding-left: 8px;
        padding-right: 0;
    }
}

@media screen and (min-width: 768px) {
    #web_banner:hover .carousel-control{
        display: block;
    }

    #web_banner .carousel-inner .item{
        height: 350px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    #web_banner .carousel-inner .item>img{
        display: none;
    }

    #web_banner .glyphicon-chevron-left::before{
        content: url(../img/left-arrow.png);
    }

    #web_banner .glyphicon-chevron-right::before{
        content: url(../img/right-arrow.png);
    }
}

@media screen and (max-width: 767px) {

}